* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(porfavor.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Define a altura da imagem de fundo como 100% da altura da janela */
    width: 100vw;
    overflow: hidden;


}

    
.button-inicio{
    color: #fff;
    text-decoration: none;
    transition: 1.0s;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 90px;
    background-color: orange;
    margin-right: 600px;
    margin-left: 600px;
    border-radius: 40px ;
}

h1{
    color: #fff;
    text-decoration: none;
    transition: 2.3s;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 90px;
}

.button-inicio:hover{
    opacity: 0.3    ;
}

.logo{
    
    width: 50%;
    display: flex;
  
    
    
}

img{
    height: 200px;
    margin-left: 70px;
}
header{
    background-color:#fff;
    height: 100px;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente ao centro */
    padding: 10px 20px; /* Adicione algum espaçamento interno */
    background-color: #f8f9fa;
   
}

li{
    display: flex;
    list-style-type: none; /* Remova os marcadores da lista */
    padding: 30px 30px 30px;
    flex-wrap: nowrap;
}
ul{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    
}

a:hover{
    opacity: 0.3;
    font-family: cursive;
    
}

@media screen and (max-width: 480px){
    body {
        background-image: url(porfavor.jpg);
        background-size: cover; /* Faz a imagem cobrir toda a tela */
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .button-inicio{
        margin-right: 20px; /* Reduza a margem direita do botão */
        margin-left: 20px; /* Reduza a margem esquerda do botão */
        border-radius: 20px ; /* Reduza o raio da borda do botão */
    }

    h1 {
        font-size: 30px; /* Reduza o tamanho da fonte do título */
        margin-top: 40px; /* Reduza a margem superior do título */
    }

    .logo img {
        width: 100%; /* Faça a imagem da logo ocupar 100% da largura disponível */
        margin: 0 auto; /* Centralize a imagem da logo horizontalmente */
        display: block; /* Remova a propriedade 'flex' para a imagem da logo */
    }

    header {
        margin: 10px; /* Reduza a margem do cabeçalho */
        padding: 5px 10px; /* Reduza o preenchimento do cabeçalho */
    }

    ul {
        display: block; /* Exiba a lista verticalmente */
        text-align: center; /* Centralize o texto da lista */
        padding: 10px; /* Adicione algum espaçamento interno à lista */
    }

    li {
        padding: 10px; /* Adicione algum espaçamento interno aos itens da lista */
    }
}